<a href="https://colab.research.google.com/github/igor-puzipe/Vacinacao_polio_brasil/blob/main/Notebook/vacinacao_polio_analises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importando bibliotecas

engine='python'
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
from matplotlib import colors as mcolors

In [2]:
#Tratamento inicial do banco (decimais, tipo de arquivo, separadores e linhas inutilizadas)

cv_polio = pd.read_csv("https://raw.githubusercontent.com/igor-puzipe/Vacinacao_polio_brasil/main/Dados/cv_polio_ano.csv", encoding="ISO-8859-1", 
                    skiprows=4, sep=";", skipfooter=20,
                    thousands=".", decimal=",")
dados_pop = pd.read_csv("https://raw.githubusercontent.com/igor-puzipe/Vacinacao_polio_brasil/main/Dados/pop_infantil_0a4_anos.csv", encoding="ISO-8859-1", 
                    skiprows=5, sep=";", skipfooter=4,
                     thousands=".", decimal=",")

pd.options.display.float_format="{:.2f}".format

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.

In [3]:
#Retirando a numeração na frente dos nomes dos estados e definindo estados como a coluna principal

cv_polio["uf"] = cv_polio["Unidade da Federação"].str.slice(start=3)
cv_polio = cv_polio.set_index("uf").drop("Unidade da Federação", axis=1) #drop unidade da federação remove a duplicação de estado que a linha de código gera
cv_polio = cv_polio.drop("Total", axis=1) #retirando a coluna total
dados_pop["uf"] = dados_pop["Unidade da Federação"].str.slice(start=3) #função modifica a linha 'total' para 'al'
dados_pop = dados_pop.set_index("uf").drop("al", axis=0) #remover 'al' é o mesmo que remover a coluna 'total'
dados_pop = dados_pop.drop("Unidade da Federação", axis=1)

# População infantil de 0 a 4 anos, dados fornecidos pelo TabNet

O motivo de utilizar os dados da população infantil é que a vacina da poliomielite é aplicada a crianças de 2 meses até menores de 5 anos, portanto, a faixa de idade selecionada é a população disponível para tomar a vacina.

In [4]:
dados_pop.head()

            2010    2011    2012    2013  ...    2016    2017    2018    2019
uf                                        ...
Rondônia  136436  134343  133371  133100  ...  136504  137670  139155  139897
Acre       90458   88578   87495   85792  ...   84882   83850   83908   83568
Amazonas  401044  400499  401135  402072  ...  409533  408846  408742  406547
Roraima    50711   51445   51852   52087  ...   53503   54616   56192   57800
Pará      797433  782470  766883  750588  ...  727703  722199  722380  720553

[5 rows x 10 columns]

# Cobertura de vacinas da Poliomielite no Norte do País
Como uma das fontes de estudo se trata de um artigo referente a região norte do país, serão utilizados apenas tais estados.

In [5]:
cv_polio.head()

            2010    2011    2012    2013  ...   2016   2017   2018   2019
uf                                        ...
Rondônia   26389   27986   27559   27664  ...  29049  29923  27046  15704
Acre       17536   18717   16194   16509  ...  12167  12612  12207   8156
Amazonas   69942   65908   69525   73694  ...  61556  61601  60189  42999
Roraima     9318    9203    8554    8543  ...   9820   9716   9089   6132
Pará      147442  144821  139453  137661  ...  90485  96257  93892  59386

[5 rows x 10 columns]